@mixin border {
    border-right: 4px solid rgb(77, 76, 76);
    border-bottom: 4px solid rgb(48, 47, 47);
    border-left: 4px solid rgb(143, 142, 142);
    border-top: 4px solid rgb(199, 197, 197);
}

@mixin shadow ($blur) {
    box-shadow: 0px 0px $blur rgb(80, 79, 79);
}